
<h1>Details of Celebrity:</h1>
<ul>
  <li><strong>Name:</strong>{{this.name}}</li>
  <li><strong>Occupation:</strong> {{this.occupation}}</li>
  <li><strong>Catch phrase:</strong> {{this.catchPhrase}}</li>
</ul>
